@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}

nav li:last-child a {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}
section.hero {
  background: $secondary;
}
.size {
  background: $secondary;
}
.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background: $primary;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}

section.cart {
  background: $secondary;
  .amount {
    color: $primary;
  }
}

section.login {
  background: $secondary;
  min-height: calc(100vh - 86px);
  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
}
.noty_theme__mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
}

a.link {
  color: $primary;
}

section.status {
  background: $secondary;
  min-height: calc(100vh - 86px);
}
.status-box {
  padding: 60px 0 0;
}
.status-box ul {
  margin-left: 84px;
}
.status-box ul li span {
  position: relative;
  padding-left: 20px;
}
// Dots
.status-box ul li span:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  background: $dark;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 1px 10px $secondary;
}

// Icons
.status-box ul li span:before {
  font-family: "Line Awesome Free";
  font-size: 46px;
  font-weight: 600;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}
.status-box ul li:nth-child(1) span:before {
  content: "\f46c";
}

.status-box ul li:nth-child(2) span:before {
  content: "\f560";
}

.status-box ul li:nth-child(3) span:before {
  content: "\f818";
}

.status-box ul li:nth-child(4) span:before {
  content: "\f0d1";
}

.status-box ul li:nth-child(5) span:before {
  content: "\f582";
}
.status-box ul li {
  position: relative;
}
// Line
.status-box ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 2px;
  height: 100%;
  background: $dark;
  margin-top: 10px;
}
// Last dot
.status-box ul li:nth-child(5) span:after {
  box-shadow: 0 20px 1px 20px $secondary;
}

// line
.status-box ul li.step-completed:before {
  background: $gray;
}

// dots
.status-box ul li.step-completed span:after {
  background: $gray;
}

// text
.status-box ul li.step-completed span {
  color: $gray;
}

// Current status
.status-box ul li.current span {
  color: $primary;
}

.status-box ul li.current span:after {
  background: $primary;
}

.status-box ul li small {
  float: right;
  font-size: 14px;
  margin-top: 8px;
}

@media (max-width: 1060px) {
  .container {
    max-width: 90%;
  }
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .status-box ul li span:before {
    font-size: 34px;
  }
}

.foote{
  background-color: $dark;
}
.row{
    display: flex;
    /* margin: 33px 330px; */
    margin-top: 51px;
}
.col{
    padding: 10px 65px;
}
.logo1 img{
    margin: -72px 5px;
width: 160px;
}
.header{
    font-size: 22px;
    color: white;
    display: flex;
    margin: 0 25px;
    /* text-align: center; */
}
#foot{
    list-style: none;
/* margin: 10px -13px; */
padding: 3px 23px;
color: $dark;
font-size: 17px;
}
#foot li{
font-size: 17px;
transition: letter-spacing .3s ease-in-out;
color: white;
}

#foot li:hover {
color: white;
letter-spacing: 1.5px;
cursor: pointer;
}
.copyright p{
    text-align: center;
padding: 21px 0;
color: white;
}
.row .col ul li i{
    padding: 10px 25px;
    color: #2fd072;
}
#flex li{
    font-size: 30px;
}
#flex{
    padding: 0px 20px;
    display: flex;
    list-style: none;
}

.container1{
    display: flex;
}
.container1 img{
    width: 174%;
    height: 134px;
    margin-top: -70px;
    margin-left: -20px;
}





















// Registeration
//   .active {
//   border: 2px solid white;
// }
// h1 {
// 	font-weight: bold;
// 	margin: 0;
// }

// h2 {
// 	text-align: center;
// }

// p {
// 	font-size: 20px;
// 	font-weight: 100;
// 	line-height: 20px;
// 	letter-spacing: 0.5px;
// 	margin: 20px 0 30px;
	
// }

// span {
// 	font-size: 15px;
// }

// a {
// 	color: #333;
// 	font-size: 16px;
// 	text-decoration: none;
// 	margin: 17px 0;
// }

buttonh {
	border-radius: 20px;
	border: 1px solid #ffffff;
	background-color: goldenrod;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	outline: none;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
#btnh{
	background-size: 200% 100%;
	transition: background-position 0.5s, color 0.5s;
	background-image: linear-gradient(to right, #2fd072 50%, black 50%);
	border: #2fd072;
}
#btnh:hover{
	background-position: right bottom;
	color: #fff;
}
buttonh:active {
	transform: scale(0.95);
}

buttonh.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

// form {

//     background-size: cover;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: column;
// 	padding: 0 50px;
// 	height: 100%;
// 	text-align: center;
// 	background-color: white;

// }

// input {
// 	background: none;
// 	border: none;
// 	border-bottom: 3.5px solid grey;
// 	padding: 12px 15px;
// 	margin: 15px 0;
// 	outline: none;
// 	width: 100%;
// 	transition:  all 0.5s;
// 	/* border-bottom: #2fd072; */
// }
//  input:focus{
// 	transition: 0.5s;
// 	border-bottom: 3.5px solid #2fd072;
//   }
  

  
//   #webTitle {
// 	display: inline-block;
// 	font-size: 25px;
// 	color: rgb(17, 17, 17);
// 	font-weight: bold;
//   }
  
  
//   .current {
// 	background-color: rgba(0, 0, 0, 0.247);
// 	border-radius: 20px;
// 	margin: 5px;
// 	font-weight: bold;
// 	border: solid 2px black;
//   }
//   .current:hover {
// 	transition: 0.3s !important;
// 	font-size: 20px !important;
// 	background-color: lightslategrey !important;
// 	border: solid 2px black !important;
// 	font-size: 18px !important;
//   }

// .contaner {
// 	background-color: #fff;
// 	border-radius: 10px;
//   	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
// 				0 10px 10px rgba(0,0,0,0.22);
// 	position: relative;
// 	overflow: hidden;
// 	width: 860px;
// 	max-width: 100%;
// 	min-height: 560px;
// 	margin-top: 47px;
//     margin-bottom: -21px;
// }

// .form-container {
// 	position: absolute;
// 	top: 0;
// 	height: 100%;
// 	transition: all 0.6s ease-in-out;
// }

// .sign-in-container {
// 	left: 0;
// 	width: 50%;
// 	z-index: 2;
// }

// .contaner.right-panel-active .sign-in-container {
// 	transform: translateX(100%);
// }

// .sign-up-container {
// 	left: 0;
// 	width: 50%;
// 	/* opacity: 0; */
// 	/* z-index: 1; */
// }

// .contaner.right-panel-active .sign-up-container {
// 	transform: translateX(100%);
// 	opacity: 1;
// 	z-index: 5;
// 	animation: show 0.6s;
// }

// @keyframes show {
// 	0%, 49.99% {
// 		opacity: 0;
// 		z-index: 1;
// 	}
	
// 	50%, 100% {
// 		opacity: 1;
// 		z-index: 5;
// 	}
// }


// .forgot-password {
// 	transition: letter-spacing .3s ease-in-out;
// }

// .forgot-password:hover {
// 	letter-spacing: 1px;
// }

// .overlay-container {
// 	position: absolute;
// 	top: 0;
// 	left: 50%;
// 	width: 50%;
// 	height: 100%;
// 	overflow: hidden;
// 	transition: transform 0.6s ease-in-out;
// 	z-index: 100;
// }

// .contaner.right-panel-active .overlay-container{
// 	transform: translateX(-100%);
// }

// .overlay {
// 	background: -webkit-linear-gradient(to right, #46eb30, #0d8b01);
// 	background: linear-gradient(to right, #1cd33b, #0c8008);
// 	background: url('/img/pizbac-bh.jpeg');
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	background-position: 0 0;
// 	color: #FFFFFF;
// 	position: relative;
// 	left: -100%;
// 	height: 100%;
// 	width: 200%;
//   	transform: translateX(0);
// 	transition: transform 0.6s ease-in-out;
// }

// .contaner.right-panel-active .overlay {
//   	transform: translateX(50%);
// }

// .overlay-panel {
// 	position: absolute;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: column;
// 	padding: 0 40px;
// 	text-align: center;
// 	top: 0;
// 	height: 100%;
// 	width: 50%;
// 	transform: translateX(0);
// 	transition: transform 0.6s ease-in-out;
// }

// .overlay-left { 
// 	/* transform: translateX(-20%);  */
// 	right: 0;
// 	transform: translateX(0);
//  }
 
// .contaner.right-panel-active .overlay-left {
// 	/* transform: translateX(0); */
// 	transform: translateX(20%);
// }

// .overlay-right {
// 	right: 0;
// 	transform: translateX(0);
// }

// .contaner.right-panel-active .overlay-right {
// 	transform: translateX(20%);
// }

// .social-container {
// 	margin: 20px 0;
// }

// .social-container a {
// 	border: 1px solid #DDDDDD;
// 	border-radius: 50%;
// 	display: inline-flex;
// 	justify-content: center;
// 	align-items: center;
// 	margin: 0 5px;
// 	height: 40px;
// 	width: 40px;
// 	background-size: 100% 200%;
// 	transition: background-position 0.5s, color 0.5s;
// }

// a.social{
// 	transition: all 0.5s;
// }

// a.social:hover{
// 	transform: scale(1.2);
// } 
// .social-container a:nth-child(1){
// 	color: #1976d3;
// 	font-size: 18px;
// 	background-image: linear-gradient(#fff 50%, #1976d3 50%);
// }
// .social-container a:nth-child(2){
// 	color: #f44236;
// 	font-size: 18px;
// 	background-image: linear-gradient(#fff 50%, #f44236 50%);
// }
// .social-container a:nth-child(3){
// 	color: #03a9f5;
// 	font-size: 18px;
// 	background-image: linear-gradient(#fff 50%, #03a9f5 50%);
// }
// .social-container a:hover{
// 	background-position: 0% 100%;
// 	color: #fff;
// }

// ::placeholder{
// 	font-size: large;
// }
// .button{
// padding: 15px 0;
// }

// #btn1{
	
// 	background-size: 200% 100%;
// 	transition: background-position 0.5s, color 0.5s;
// 	background-image: linear-gradient(to right,darkslategray 50%, black 50%);
// }

// #btn1:hover{
// 	background-position: right bottom;
// 	color: #fff;
// }
// .btn2{
// 	font-size: 14px;
// }

// .overlay h1{
//   color: black;
//   font-family: 'Grand Hotel', cursive;
//   font-size: 68px;
// }
// p{
//     color: black;
//     font-family: 'Grand Hotel', cursive;
//     font-size: 30px;
//     margin-top: 140%;
//     font-weight: bold;
//     color: white;

//  }
// ::placeholder{
//  color: black;
// }
// #btn:hover{
//   color: white;
// }
// .contaner h1{
//   margin-top: -4%;
// }
  
// .StripeElement {
//   box-sizing: border-box;
//   width: 50%;
//   margin-left: auto;
//   height: 40px;
//   padding: 10px 12px;

//   border: 1px solid transparent;
//   border-radius: 4px;
//   background-color: white;

//   box-shadow: 0 1px 3px 0 #e6ebf1;
//   -webkit-transition: box-shadow 150ms ease;
//   transition: box-shadow 150ms ease;
// }

// .StripeElement--focus {
//   box-shadow: 0 1px 3px 0 #cfd7df;
// }

// .StripeElement--invalid {
//   border-color: #fa755a;
// }

// .StripeElement--webkit-autofill {
//   background-color: #fefde5 !important;
// }
